:root  {
	--gray-color: #acacac;
}

* {
	margin: 0;
	padding: 0;
	color: #0f0c29;
	font-family: 'Philosopher', sans-serif;
	text-shadow: 1px 1px 1px #606C88;
}

html {
	scroll-behavior: smooth;
}

h2 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h6 {
	font-size: 18px;
}

a {
	text-decoration: none;
	font-size: 22px;
}

main {
	background: linear-gradient(to right, #141e30, #243b55);
}

main * {
	color: white;
	text-shadow: none;
	font-family: 'Chakra Petch', sans-serif;
}

.navbar {
	z-index: 3;
	display: flex;
	position: sticky;
	top: 0;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	background-color: white;
	padding: 0 10rem;
}

.menu-title {
	font-size: 32px;
}

.menu-items {
	display: flex;
	justify-content: space-around;
	width: 750px;
}

.header, .projects {
	display: flex;
	align-items: center;
	height: 410px;
	margin: 15rem 10rem;
}

.info-left {
	min-width: max(400px, 60%);
	line-height: 50px;
	margin-right: 10rem;
	z-index: 2;
}

.info-left h2 {
	font-family: 'Righteous', cursive;
	margin-bottom: 28px;
	font-size: 32px;
}

.info-left .social-links {
	font-size: 22px;
}

.info-left .social-links i {
	margin-right: 20px;
}

.info-left h6 {
	font-size: 24px;
}

.image-right {
	position: relative;
	right: 15rem;
	z-index: 1;
}

.image-right img {
	height: 675px;
}

.info {
	line-height: 60px;
}

.info i {
	margin-right: 5px;
	text-shadow: 2px 2px 2px #606C88;
}

.default-square {
	z-index: 5;
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 2rem;
    transform: rotate(-45deg);
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.default-square .square-1 {
    left: 0;
}

.default-square .square-2 {
	left: 59.5rem;
}

.default-square .square-3 {
	left: 58.1rem;
	bottom: 0.5rem;
}

.skills {
	height: 100vh;
}

.title-left {
	position: absolute;
	left: 10rem;
	padding-top: 7rem;
}

.title-right {
	position: absolute;
	right: 10rem;
	padding-top: 5rem;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: inherit;
}

.svg-container {
	width: 1000px;
}

.languages {
	width: 50%;
	height: 50vh;
	display: flex;
	flex-wrap: wrap;
}

.languages .box {
	width: 128px;
	height: 128px;
	border-radius: 20%;
	text-align: center;
	margin: 0 20px;
}

.languages .box h2 {
	padding-top: 2.5rem;
}

.projects {
	height: 100%;
	align-items: flex-start;
	margin-bottom: 0;
	margin-top: 5rem;
	padding-bottom: 5rem;
}

.projects .title-right {
	margin-top: 2rem;
}

.projects .info-left {
	line-height: 30px;
}

.projects h2 {
	font-size: large;
}

.projects h4 {
	font-size: medium;
}

.projects .image-right {
	right: 20rem;
}

.hobies {
	height: 400px;
	margin: 5rem 10rem 0;
	height: 100%;
	padding-bottom: 5rem;
}

.hobies .title-left {
	margin-top: 7rem;
	padding-top: 0;
}

.hobies img {
	border-radius: 5px;
}

.row {
	display: flex;
	margin: 1rem 0 1rem;
}

.borderless {
	border: 1px solid transparent;
}

.col-6 {
	width: 50%;
}

.row .first {
	margin-top: 10rem;
}

.col-4 {
	width: 33.33%;
}

.col-3 {
	width: 25%;
}

.footer {
	height: 50vh;
	background-color: #232526;
}

.footer .row {
	position: relative;
	top: 150px;
	left: 150px;
}

hr {
	margin: 0 10rem;
	border-color: #6e6e6e;
}

.text-muted {
	color: var(--gray-color);
}

.gradient-btn {
	width: 15rem;
	height: 2rem;
	border-radius: 10px;
	text-align: center;
	background: linear-gradient(to right, #2980b9, #2c3e50);
	border: none;
	outline: none;
}

#topBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	font-size: x-large;
	background: linear-gradient(to right, #00b4db, #0083b0);
	cursor: pointer;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	box-shadow: 5px 5px 5px;
}

#topBtn i {
	color: white;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
	background-color: #acacac;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}