.orange {
	background-color: #FF872B;
}

.blue {
	background-color: #84A9FF;
}

.red {
	background-color: #FF866B;
}

.green {
	background-color: #49D639;
}

.yellow {
	background-color: #E1CE63;
}

.pink {
	background-color: #C14554;
}

.purple {
	background-color: #A545C1;
}

.brown {
	background-color: #AF8430;
}

.turkuaz {
	background-color: #008CA8;
}

.ten {
	background-color: #FDA166;
}